<div class="single">
		<div class="container">
			<div class="col-md-4 single-left">
				<div class="flexslider">
					<ul class="slides">
						<li data-thumb="{{BASE_URL}}/photo/{{DETAIL.PRODUCT_MAIN_IMAGE}}_600X500.jpg">
							<div class="thumb-image"> <img src="{{BASE_URL}}/photo/{{DETAIL.PRODUCT_MAIN_IMAGE}}_300X400.jpg" data-imagezoom="true" class="img-responsive"> </div>
						</li>
					</ul>
				</div>
				<!-- flixslider -->
					<script defer src="{{BASE_URL}}/js/jquery.flexslider.js"></script>
					<link rel="stylesheet" href="{{BASE_URL}}/css/flexslider.css" type="text/css" media="screen" />
					<script>
					// Can also be used with $(document).ready()
					$(window).load(function() {
					  $('.flexslider').flexslider({
						animation: "slide",
						controlNav: "thumbnails"
					  });
					});
					</script>
				<!-- flixslider -->
				<!-- zooming-effect -->
					<script src="{{BASE_URL}}/js/imagezoom.js"></script>
				<!-- //zooming-effect -->
			</div>
			<div class="col-md-8 single-right">
				<h3>{{ DETAIL.PRODUCT_NAME }}</h3>
				<div class="rating1">
					<span class="starRating">
						<input id="rating5" type="radio" name="rating" value="5">
						<label for="rating5">5</label>
						<input id="rating4" type="radio" name="rating" value="4">
						<label for="rating4">4</label>
						<input id="rating3" type="radio" name="rating" value="3" checked>
						<label for="rating3">3</label>
						<input id="rating2" type="radio" name="rating" value="2">
						<label for="rating2">2</label>
						<input id="rating1" type="radio" name="rating" value="1">
						<label for="rating1">1</label>
					</span>
				</div>
					<div class="description">
						<h5><big><b><i>Deskripsi</i></b></big></h5>
						<p>{{ DETAIL.PRODUCT_DESCRIPTION | trim('</p> </div> </div> </div> </div> <div id=".') | raw }}.</p>
					</div>
					<div class="simpleCart_shelfItem">
							<p><big><span>Rp {{(DETAIL.PRODUCT_CJT_PRICE+DETAIL.PRODUCT_PROFIT)|number_format(0, ',', '.')}}</span></big> <big><i class="item_price"><sup>Rp</sup> {{DETAIL.PRODUCT_CJT_PRICE|number_format(0, ',', '.')}},00</i></big></p>
							<p><a class="item_add" href="javascript:;"  data-base="{{BASE_URL}}"  data-id="{{DETAIL.PRODUCT_ID}}" data-name="{{DETAIL.PRODUCT_NAME}}" data-picture="{{DETAIL.PRODUCT_MAIN_IMAGE}}" data-price="{{DETAIL.PRODUCT_CJT_PRICE}}">Add to cart</a></p>
						</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
