	<div class="header">
		<div class="container">
			<div class="w3l_login">
				<a href="#" data-toggle="modal" data-target="#myModal88"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
			</div>
			<div class="w3l_logo">
				<h1><a href="http://localhost/eclaststore-rebuild/public/home">ECLAST STORE<span>New Look & Move</span></a></h1>
			</div>
			<div class="search">
				<input class="search_box" type="checkbox" id="search_box">
				<label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
				<div class="search_form">
					<form action="#" method="post">
						<input type="text" name="Search" placeholder="Search...">
						<input type="submit" value="Send">
					</form>
				</div>
			</div>
			<div class="cart box_1">
				<a href="{{BASE_URL}}/keranjang">
					<div class="total">
					<span class="simpleCart_totalHeader"><small>Rp {{ SUB_TOTAL_CART }}</small></span> (<span class="simpleCart_quantityd">{{ COUNT_ITEM_CART }}</span> items)</div>
					<img id="bagIcon"src="{{BASE_URL}}/images/bag.png" alt="" />
				</a>
			{# 	<p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>

 #}
				<p><a onClick="emptyCart()" href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
				<input type="hidden" class="base_url" value="{{BASE_URL}}" />

				 <script>
/*				 $(document).ready(function() {
				 	



				 	 				 	function testAnim(x) {
    $('#bagIcon').removeClass().addClass(x + ' animated delay-5s').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
      $(this).removeClass();
    });



  };

*/
/*
				 	 $('.simpleCart_empty').on('click', function (e) {
						    e.preventDefault();
						    NProgress.start();
							var baseUrl = $('.base_url').val() ; 

                
	                    $.ajax({
	                        type: "GET",

	                        url: baseUrl + '/cart/destroy/',
	                        success: function() {
	                        	testAnim("zoomOutDown");

	                        	
	                           $(".total").load(" .total");
	                           NProgress.done();

	                        }
	                        })

						    
						    
						});

				 });
				 */
                

                   
                   
              </script>
				<div class="clearfix"> </div>
			</div>	
			<div class="clearfix"> </div>
		</div>
	</div>

