<div class="w3ls_dresses_grid_right_grid2">
	 						<div class="w3ls_dresses_grid_right_grid2_left">
							<h3> {% if GET_NAME_MERCH == '' %}
							<b>JAM TANGAN ALL MERCH</b>
							{% else %}
							JAM
							<b>{{ GET_NAME_MERCH }}</b> 	
							{% endif %}

							 | Menampilkan : {{ COUNT_PRODUCT }} Produk  </h3>
						</div>
						<div class="w3ls_dresses_grid_right_grid2_right">
							<select name="select_item" class="select_item">
								<option value="random" selected="selected">Urutkan Acak</option>
								<option value="harga-termurah">Harga termurah</option>
								<option value="harga-termahal">Harga termahal</option>
								<option value="produk-terbaru">Produk Terbaru</option>
							
							</select>
						</div>
						<div class="clearfix"> </div>
					</div>
					 
					<script>
					 /* $(document).ready(function(){

					   

					 

					  });


$('.select_item').change(function(){
					  		 NProgress.start();
					  		    var baseUrl = "{{ BASE_URL }}" ;
					  		     var sortBy = $(this).val();

					  		     window.location.replace(baseUrl+'/home?filter='+sortBy);
						     
						        
					  	 
   							 NProgress.done(); 
					  });*/



					  /*
					  $('.select_item').change(function(){
					  		 NProgress.start();
					  		    var baseUrl = "{{ BASE_URL }}" ;
					  		     var sortBy = $(this).val();
						     
						       
						        $.ajax({
						            type: "GET",
						            url: baseUrl + '/ajax/sort/'+sortBy,
						            success: function( msg ) {
						             
						                 $(".w3ls_dresses_grid_right_grid3").append(msg);
						            }
						        }); 

					  	 
   							 NProgress.done(); 
					  });*/
					 
		
					</script>